*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
}

.liked{
  background-color: #d40a0a;
}

.liked:hover{
  background-color: #ff002b;
  cursor: pointer;
}

.unliked{
  background-color: #c0b7b7;
}

.unliked:hover{
  background-color: #dfd5d5;
  cursor: pointer;
}

button{
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
}

.text{
  font-size: 20px;
  padding-left: 10px;
}

.container{
  margin: auto;
  margin-top: 20%;
  background-color: #066e02;
  color: #fff;
  width: 20%;
  text-align: center;
  padding: 24px;
  border-radius: 8px;
}