* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c0bbbb;
}

.cont{
  background-color: #fff;
  margin: auto;
  margin-top: 15%;
  width: 50%;
  border-radius: 5px;
  padding: 20px;
}

text {
  color: #0b792c;
  margin: 15px;
}

h1{
  /* text-align: center; */
  color: #0000ff;
}

.container{
  padding: 15px 15px;
}

.celsius {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.fahrenheit{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  padding-top: 15px;
  font-size: 18px;
  margin-bottom: 5px;
  color: #000;
}

input {
  padding: 15px;
  border-radius: 5px;
}