.product-name{
    background-color: #61808d;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    cursor: pointer;
}

.product-img {
    margin: 10px 10px;
}

img {
    width: 100%;
    border-radius: 6px;
    height: 400px;
}

h2 {
    margin: 10px 10px;
    font-weight: 300;
}

h3 {
    margin: 10px 10px;
    font-weight: bold;
    font-size: 20px;
}

.in-stock {
    background-color: #008000;
    margin: 10px 10px;
    width: 20%;
    text-align: center;
    padding: 6px 6px;
    color: #fff;
    border-radius: 6px;
}

.out-of-stock {
    background-color: #ff0000;
    margin: 10px 10px;
    width: 25%;
    text-align: center;
    padding: 5px 5px;
    color: #fff;
    border-radius: 6px;
}