* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont {
  width: 50%;
  justify-self: center;
  margin-top: 20%;
}

.container {
  background-color: #81804d;
  text-align: center;
  padding: 48px;
  border-radius: 8px;
  color: #fff;
}

h1 {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.increment {
  padding: 12px 24px;
  border-radius: 8px;
  background-color: green;
  color: #fff;
  font-size: 30px;
  border: none;
}

.increment:hover{
  background-color: #17ca41;
  cursor: pointer;
}
.decrement {
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #0b0b8a;
  color: #fff;
  font-size: 30px;
  border: none;
}

.decrement:hover {
  background-color: #0000ff;
  cursor: pointer;
}

.reset {
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #9b0808;
  color: #fff;
  border: none;
}

.reset:hover {
  background-color: #ff0000;
  cursor: pointer;
}